<ul>
    {{#each burger}}
    <li>ID: {{id}}, Name: {{burger_name}}, Devoured: {{devoured}}</li>
    {{/each}}
</ul>
<form id="addburger">

    <textarea id="newburger"></textarea>
    <button type="submit">Add</button>
</form>